.sticky-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.menu-clearance {
  display: block;
  height: 5rem;

  @include respond(tab-land) {
    height: 5rem;
  }
}

header.header {
  background: $color-nav-background;

  .hamburger {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 20;

    &.open {
      height: 4rem;

      span {
        display: block;
      }

      span:nth-child(1), span:nth-child(3) {
        position: absolute;
        top: 1rem;
      }

      span:nth-child(1) {
        transform: rotate(-135deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(135deg);
      }
    }

    span {
      display: block;
      width: 3.5rem;
      height: 0.5rem;
      background-color: $color-text-main;
      margin: 6px 0;
      transition: .2s all;
      transform: rotate(0);
      opacity: 1;
    }

    @include respond(tab-land) {
      display: none;
    }

  }

  @include respond(tab-land) {
    position: relative;

    & > .container::after {
      z-index: 10;
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: $nav-bottom-border-thickness;
      background: $color-text-main;
    }
  }

  & > .container {
    @include respond(tab-land) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  & .name {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {

      &, &:visited, &:link {
        text-decoration: none;
        color: inherit;
      }
      display: flex;
      height: 100%;
      padding: 1rem;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $color-background;
      }
    }
  }
}

main p {
  font-size: 2rem;
}
