$color-background: #f5f5f5;
$color-foreground: #328cc1;
$color-link: #328cc1;
$color-border: #328cc1;
$color-nav-background: #fff;

$color-theme-1: #0ba9c1;
$color-theme-2: #83b82e;
$color-theme-3: #ff5992;
$color-theme-4: #841983;

$color-text-main: #1d2731;

$color-red: #d68686;

$color-green: #aed686;

$color-orange: #d7af87;

$color-blue: #86aed6;

$color-purple: #d6aed6;

$color-aqua: #8adbb4;

$color-grey: #d0d0d0;

$color-yellow: #ffff80;

$container-max-width: 120rem;

$nav-bottom-border-thickness: 0.25rem;
