extends base/layout

block main-content
  main#home
    section.home-section.introduction
      div.profile-image
        img(src="/images/jag-avatar.jpg", alt="Jagrajan Bhullar")
      div.content
        div.bio
          p My name is Jag.
          p I am a full stack web developer, data scientist, and UNIX nerd.
        nav.nav-buttons
          a(href="#about") About
          a(href="#projects") Projects
          a(href="#projects") Explore
    section.home-section.web-dev
    section.home-section.data-science
    section.home-section.unix
