doctype html
html
  head
    meta(name="author", content="Jagrajan Bhullar")
    meta(name="description", content="Portfolio website for Jagrajan Bhullar")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    title Sample Webpage
  body.home-page
    main
      div.social-media
        p LinkedIN
      div.main-title
        p Hi, my name is Jagrajan Bhullar.
        p I am a full stack web developer, data scientist, and a UNIX nerd.
      nav.home-links
        ul
          li
            a(href="/portfolio") Portfolio
            a(href="/blog") Blog
            a(href="/cheatsheets") Cheatsheets

