h2.section-heading Summary
section.project-section.project-summary
  p.project-field
    strong Start Date:
    | March 2019
  p.project-field
    strong End Date:
    | Still in development
h2.section-heading Background
section.project-section
  p After doing some research and practice into server-side React rendering, I was interested in developing an application that took advantage of the search engine optimzation of server-side rendering.
  p I decided to create a cookbook blog as my partner and I wanted a way to store and share recipes.
  p This project features a responsive and intuitive user interface for editing and viewing recipes. All features were designed with ease of use and aesthetics in mind, though a lot of the components have not been fully refined as development is quite active and I'm still trying to determine the best layout for each page.

h2.section-heading Development
section.project-section
  p Development began in March 2019, and the time I have had to put towards this project has been sporadic, as I've been working full time during this time and also had to deal with the day-to-day tasks of living.
  p The code is split into two different projects: 
    a(href="#") cookbook-api-server
    |  and 
    a(href="#") cookbook-render-server
    | . The api server provides an interface to access and modify data in the Postgres database. The render server renders the react application into an html document and serves this document along with the application Javascript bundle.
